*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .banner {
            background-image: url(../img/banner4.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-width: 100%;
            min-height: 80vh;
            /* background-attachment: fixed; */
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            padding: 10px 30px;
        }

        .logo img {
            height: 50px;
        }

        .logo img:hover {
            transition: 0.3s;
            transform: scale(1.1);
        }

        #menu-toggle {
            display: none;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 5px;
            /* z-index: 2; */
        }

        .hamburger span {
            height: 3px;
            width: 25px;
            background: white;
            border-radius: 2px;
        }

        .hamburger span:hover {
            padding-left: 30px;
        }

        .nav-links ul {
            display: flex;
            list-style: none;
            gap: 20px;
            align-items: center;
        }

        .nav-links a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: 0.3s;
            display: inline-block;
        }

        .nav-links a:hover {
            transition: 0.3s;
            color: #ffcc66;
            transform: scale(1.1);
        }

        .social-icons a {
            margin-left: 10px;
            font-size: 18px;
            color: white;
            transition: 0.3s;
            display: inline-block;
        }

        .social-icons a:hover {
            transition: 0.3s;
            color: #ffcc66;
            transform: scale(1.1);
        }

        @media (max-width: 1050px) {
            .hamburger {
                display: flex;
            }

            .nav-links {
                position: absolute;
                top: 70px;
                right: 0;
                background-color: rgba(0, 0, 0, 0.95);
                width: 100%;
                text-align: center;
                display: none;
                padding: 20px 0;
            }

            .nav-links ul {
                flex-direction: column;
                gap: 15px;
            }

            #menu-toggle:checked~.nav-links {
                display: block;
            }
        }

        .banner .banner-content {
            /* border: 2px solid rgb(150, 16, 16); */
            width: 70%;
            /* height: 300px; */
            margin: 0 auto;
            margin-top: 200px;
            color: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .banner-content h1 {
            /* font-family: 'Pacifico', cursive; */
            font-family: "Dancing Script", cursive;
            font-style: italic;
            font-size: 60px;
            margin-bottom: 10px;
            text-align: center;
        }

        @media (max-width: 1300px) {
            .banner .banner-content {
                margin: 0 auto;
                margin-top: 150px;
            }
        }

        @media (max-width: 800px) {
            .banner .banner-content {
                margin-top: 50px;
            }
        }

        @media (max-width: 490px) {
            .banner .banner-content {
                margin-top: 10px;
            }
        }



  button {
            background-color: #f6c008;
            height: 50px;
            width: 200px;
            font-weight: bold;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 30px;
            transition: background-color 1s, color 1s;
        }

        button:hover {
            transition: background-color 1s, color 1s;
            background-color: chocolate;
            color: white;
        }

        .container-2{
            background-color:  #54453c;
            text-align: center;
            
            padding: 20px 0px;
        }

 .container-2 h1{
    font-size: 40px;
     padding: 20px 0px;
     font-weight: bold;
     font-style: oblique;
 }

        .two{
            /* border: 2px solid black; */
            width: 100%;
            /* height: 600px; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            padding: 20px 0px;
        }
        .two .box{
            border: 2px solid rgb(210, 217, 12);
            width: 600px;
            /* height: 510px; */
            /* display: flex; */
            /* justify-content: space-between; */

        }
        .innerbox{
            border: 2px solid  #f6c008;
            width: 100%;
            height: 410px;
        }
        .innerbox img{
            width: 100%;
        }
        .innerboccontent{
              border: 2px solid  #f6c008;
            width: 100%;
            height: 100px;
            text-align: center;
            display: flex;
            align-items: center;
            background-color: #f6c008;
            color: white;
            transition: 0.3s;
        }

        .innerboccontent:hover{
            transition: 0.3s;
            background-color: #857236;
            color: rgb(23, 10, 0)
        }

        .eight{
    /* background-color: #54453c; */
    background-color: black;
    width: 100%;
    /* height: 500px; */
}
.eightone{
    /* border: 2px solid rgb(128, 8, 8); */
    width: 100%;
    /* height: 350px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 20px; */
}
.eightonecontent{
    /* border: 2px solid rgb(39, 205, 64); */
    width: 300px;
    height: 300px;
    margin-top: 40px;
}
.eightonecontent p{
    color: white;
    text-align: justify;
    font-size: 18px;
    margin-top: 15px;
}
.eighticons{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}
.eighticons a{
    text-decoration: none;
    border: 2px solid bisque;
    width: 40px;
    height: 40px;
    color: white;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
       transition: 0.3s;
}
.eighticons a:hover{
    color: white;
    transition: 0.3s;
    color: #ffcc66;
    transform: scale(1.1);
}
.links i{
    color:#ffcc66;
    font-size: 20px;
    padding-right: 8px;
    margin-top: 10px;
}
.eightonecontent h1{
    color:#ffcc66;
    font-style: oblique;
}
.links a{
    text-decoration: none;
}
.links span{
    color: white;
    font-size: 20px;
     transition: 1s;
}
.eightonecontent span{
     transition: 1s;
}
.eightonecontent span:hover{
    font-size: 18px;
}
.links span:hover{
  font-size: 23px;
}
.eightonecontent h3{
    color:#ebe8e1;
    font-style: oblique;
    font-size: 25px;
    margin-top: 10px;
}
.eightonecontent span{
    color:#ebe8e1;
    font-style: oblique;
    font-weight: bold;
}
.final{
    color:#ffcc66;
    text-align: center;
}